html {
    padding: 0 0;
    margin: 0 0;
	height: 100%;
	overflow-y: auto;
}
body {
    background-image:url('../img/px_by_gre3g.png');
	/* height: 100%; */
	overflow-y: hidden;
}
.application-name {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.2);
    font-size: 120px;
    font-weight: bold;
    padding: 0 0 0 30px;
}
.login-dialog {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 380px;
    width: 300px;
    overflow: auto;
}


/* Layout prototype */
#header {
	padding-left: 5px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5000;
	width: 100%;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #777777;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border-bottom: 1px solid #e5e5e5;
}
.modal-content {
	background-color: #fff9d6;
}
.modal-body, .modal-footer {
	background-color: #fff;
}
#wrapper {
	margin-top: 40px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px; /*250px;*/
}

#sidebar-wrapper {
	display: none;
    z-index: 1000;
    position: fixed;
    left: 0px; /*250px;*/
    width: 0;
    height: 100%;
    margin-left: 0px; /*-250px;*/
    overflow-y: auto;
    background: #F5F5F5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	padding: 0px 4px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0px; /*250px;*/
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
	overflow-y: hidden;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px; /*-250px;*/
}

/* Sidebar Styles */

.sidebar-nav {
	display: none;
    position: absolute;
    top: 0;
    width: 0px; /*250px;*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #777777;
	border-bottom: 1px solid #e5e5e5;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #FF9800; /*#2D6CA2;*/ /*#3A3A3A;*/
	border: 1px solid white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0px; /*250px;*/
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 15px 0px;
    	background-image:url('../img/px_by_gre3g.png');
	 }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Patienten */
.openac-lijst ol {
	list-style-type: none;
	list-style-position: outside;
	margin: 0 0;
	padding: 0 0;
}
.openac-lijst .lijst-headline {
	font-weight: bold;
}
.openac-lijst .panel {
	margin: 0 0;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
}
.openac-lijst .panel:hover {
	border-color: #FF9800;	
}
.openac-lijst .panel-body {
	padding: 10px;
}
/*  Testwijzer */
.testwijzer {
	max-width: 1200px;
}
check-selector {
	display: inline-block;
	vertical-align: top;
	margin: 3px 3px;
	max-width: 350px;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}
.instrumentrij {
	border-bottom: 1px solid #e5e5e5;
}
.instrumentrij:last-child {
	border-bottom: none;
}
.instrumentrij:hover, .cotan:hover {
    color: #000;
    background: #FF9800; /*#2D6CA2;*/ /*#3A3A3A;*/
}
.instrumentrij div {
	display: inline-block;
}
.instrumentrij .naam {
	width: 350px;
}

.circle {
    border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 0 0;
	margin: 0 0 -6px 0;	
	border: 1px solid #777777;
}

.cotan {
	color: white;
	background-color: green;
}

.naam label {
	font-weight: 400;	
}
.lo {
	color: white;
	background-color: #c800ff;
}
.minimaal_pakket {
	color: white;
	background-color: red;
}
.aanvullend_pakket {
	color: black;
	background-color: #FFCC00;
}
.minimaal_pakket_t {
	color: black;
	background-color: #00CCFF;
}
.aanvullend_pakket_t {
	color: black;
	background-color: #CCFFFF;
}